<!DOCTYPE html>
<html>
  <head>
    <title>PlayEthereumWithRuby</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'Ethereum with Ruby', root_path, class: 'navbar-brand' %>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to 'Home', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Book Editions', book_editions_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Books', '#', class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
